body{
    font-family: 'Open Sans', sans-serif;
}
:root{
    --border-radius: 0.5em;
}
#letters-field{
    width:80%;
    max-width: 40em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap:1em;
    justify-content: center;
}
.letter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6em;
    padding: 1em 0 0;
    border:0.2em solid gray;
    border-radius: var(--border-radius);
    span{
        font-size: 3em;
        text-transform: uppercase;
    }

    &-syllable{
        align-self: flex-end;
        border: none;
        border-color: #a2a2a2;
        font-size: 1.5em;
        border-radius: var(--border-radius);
    }
    &-syllable:hover{
        //transform: scale(1.1);
        background-color : lemonchiffon;
    }
}



.letter-syllable{
    align-self: flex-end;
    border: none;
    border-color: #a2a2a2;
}

.vowel{
    color: red;
}

.no-sound{
    color: black
}

.dull{
    color: green;
}

.sonorous{
    color:blue;
}

.lower-letters{
    text-transform: lowercase;
}